html{
    background-color: #1FC3F3;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
    margin-bottom: 50px;
    padding-top: 70px;
}
button{
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    transition: background-color 0.2s, color 0.2s;
    color: black;
    background-color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-size:15px;
    margin-right: 10px;
}

button:hover{
	color:aliceblue;
    background-color: #000000;
    border :2px solid aliceblue;
}
.center{
	text-align: center;
}
.hidden{
     visibility: hidden;
}

#canvas {
    border: 1px solid black;
    margin-top: 10px;
  }